/* nav */
.tamaño_presupuesto {
    width: 25%;
    height: 20rem;
}
.tamaño_presupuesto div h2 {
    font-size: 3rem;
}
.tamaño_presupuesto div span {
    font-size: 1.2rem;
}

.bajar_contador {
    align-self: self-end;
}

#mostrar_presupuesto {
    background-image: url(./assets/img/AdobeStock_287009246.jpeg);
    object-fit:contain;
    background-position: center;
    image-rendering: crisp-edges;
    background-repeat: no-repeat;
}

.posicionar{
    position: relative;
}

.posicionar_div {
    position: absolute;
    bottom:10%;
}


/* select */
#options {
    border-radius: 5px;
    border: none;
    height: 3rem;
    background: #efefef;
}
/* input_name */
#data_name {
    border-radius: 5px;
    border: transparent;
    height: 3rem;
    width: 22rem;
    background: #ffffffa7;
}
/* input_number */
#data_amout {
    border-radius: 5px;
    border: transparent;
    height: 3rem;
    background: #ffffffa7;
}
/* Btn */
#btn {
    border-radius: 50%;
    border: transparent;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.2rem;
    background: rgba(43, 7, 84, 0.712);
    color: white;
}
/* table */
.div_body {
    height: 58vh;
}

.tabla {
    height: fit-content;
    width: 25rem;
}
#contenedor_tabla {
    top: 15%;
}
/* btn eliminar */
#btn_eliminar_ingreso{
    left: 38%;
    bottom: -3%;
    font-size: 1.5rem;
}


@keyframes animacion_Eliminar {
    0% {
        right: 0;
    }
    50%{
        lef: 20px;
    }
    100%{
        right: 40px;
    }
}

#div_hover{
    z-index: 10;
    position: relative;
}
tr:hover{
    animation: animacion_Eliminar .5s ease-out forwards;
}

/* estilos */
/* presupuesto */
.ingresos {
    background-color:#ff3ace67;
    border-radius: 5px;
}
.span {
    right: -18%;
    bottom: 8%;
}
.egresos{
    background-color:#ff3a3ab9;
    border-radius: 5px;
}

/* nav */
nav {
    background-color: #efefef;
    height: 5rem;
}
/* tabla */
.titulos_tabla {
    font-size: 1.5rem;
}
td {
    font-size: 1.2rem;
}